.env
.env.*
*.pem
*.key

__pycache__/
*.pyc
.venv/
venv/
env/
.ipynb_checkpoints/
*.bak

.vscode/
.idea/
.vs/
*.user
*.suo

bin/
obj/
packages/
TestResults/

*.log
*.docx
*.xlsx
*.xlsm
*.csv
*.xls
Thumbs.db
Desktop.ini

*.txt
!requirements.txt

projects/World of Warcraft/python-etl/moduly/ai_prompty.py
projects/World of Warcraft/python-etl/moduly/sciezki.py
projects/World of Warcraft/python-etl/scraper_wiki_async.py
projects/World of Warcraft/python-etl/scraper_wiki_main.py
projects/World of Warcraft/python-etl/scraper_wowhead.py
tempCodeRunnerFile.lua
*.cursor

projects/World of Warcraft/addon_KronikiWarcrafta/01_BazaDanych
projects/World of Warcraft/excel-zatwierdzenia
